/* only add about page specific css here */
/* Add this to your global.css or about.css */
body {
    background-image: url('images/gym-bg.jpg');
    background-size: 100% cover; /* Set background image to cover the entire body */
    background-position: center;
    background-repeat: no-repeat;
}

.about-section {
    margin: 20px; /* Adjust margin as needed */
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid #000000; /* Add a border for visual separation */
    border-radius: 5px; /* Add rounded corners */
    background-color: #2a2a2a; /* Add a light background color */
    color: #000000; /* Change font color to white */
}

.about-section h1 {
    margin-top: 0; /* Remove default margin */
    margin-bottom: 10px; /* Add some space below the heading */
    color: #ffffff; /* Change font color to white */
}

.about-section p {
    margin-bottom: 10px; /* Add space between paragraphs */
    color: #ffffff; /* Change font color to white */
}





