/* only add classes page specific css here */
body {
    background-image: url('images/gym-bg.jpg');
    background-size: 100% cover; /* Set background image to cover the entire body */
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    color: #fff; /* Set text color to white */
    background-color: rgba(0, 0, 0, 0.800);
    border: 1px solid #ffffff; /* Add a border for visual separation */
}

td {
    background-color: #fff;
}

.class-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 20px; /* Spacing between grid items */
}

/* Specify a smaller height for the middle image */
.small-height img {
    min-width: 0px; /* Adjust the height as needed */
}

.class {
    text-align: center;
    height: 300px; /* Fixed height for each grid item */
}

.class img {
    width: 100%;
    max-width: 200px; /* Limit the width of the image */
    height: auto;
}

.class h3, p {
    margin-top: 10px; /* Add space above the heading */
    color: #ffffff; /* Set the color of the heading */
}

/* Style for the buttons */
.class button {
    background-color: #007bff; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px; /* Padding inside the button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px; /* Add space between button and text */
    cursor: pointer;
    border-radius: 100px; /* Add rounded corners */
}

/* Hover effect for buttons */
.class button:hover {
    background-color: #0056b3; /* Darker green background on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
