/* global css page (inherited in all pages) */
body {
    font-family: Arial, sans-serif;
    background-color: #91bafb;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* ===== navbar stuff ===== */
.navbar {
    background-color: #333;
    overflow: hidden;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;    
}

.navbar li {
    float: left;
    margin: 8px;
    border-radius: 100px; /* Add roundness to the navigation list */
    /* border: 1px solid #ffffff;  */
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    border-radius: 100px; /* Add roundness to the navigation list */
    text-decoration: none;
}

/* light mode vs dark mode preferences on text */
@media (prefers-color-scheme: light) {
    .navbar li a, p, h1, h2, h3 { /* here it could be made to just black text shadow as the text is visible enough already */
        text-shadow: 1px  1px 0 rgb(0, 0, 0), 
                    -1px -1px 0 rgb(0, 0, 0),  
                     1px -1px 0 rgb(0, 0, 0),  
                    -1px  1px 0 rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .navbar li a.active {
        border: 1px solid #000000; /* Add a border for visual separation */
    }
    
    .navbar li a:hover {
        border: 1px solid #000000;
    }
}

@media (prefers-color-scheme: dark) {
    .navbar li a, p, h1, h2, h3 {
        text-shadow: 1px  1px 0 rgb(0, 0, 0), 
                    -1px -1px 0 rgb(0, 0, 0),  
                     1px -1px 0 rgb(0, 0, 0),  
                    -1px  1px 0 rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .navbar li a.active {
        border: 1px solid #000000; /* Add a border for visual separation */
    }

    .navbar li a:hover {
        border: 1px solid #000000;
    }
}

.navbar li a:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.navbar li a.active {
    background-color: #0056b3; /* Change background color of active link */
}

/* Bottom Navigation bar */
/* static/styles.css */
.bottom-navbar {
    display: flex;
    justify-content: center;
}

.bottom-navbar li {
    list-style: none;
    margin: 0 10px;
}

.bottom-navbar li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.bottom-navbar li a:hover {
    background-color: #555;
}

.footer {
    background-color: #333; /* Set background color of the footer */
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #ffffff; /* Add a border for visual separation */
}

/* Footer size and font */
.copyright {
    color: #ffffff; /* Set font color of the copyright notice */
    text-align: center;
    margin: 0px 0px; /* Add some margin for spacing */
    font-size: 16px;
}