/* only add index page specific css here */

/* background image */
body {
    background-image: url('images/gym-bg.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}
