/* only add services page specific css here */
body {
    background-image: url('images/gym-bg.jpg');
    background-size: 100% cover; /* Set background image to cover the entire body */
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    color: #fff; /* Set text color to white */
    background-color: rgba(0, 0, 0, 0.800);
    border: 1px solid #ffffff; /* Add a border for visual separation */
}


@media (prefers-color-scheme: light) {
    h2, p {
        text-shadow: 1px  1px 0 rgb(0, 0, 0), 
                    -1px -1px 0 rgb(0, 0, 0),  
                     1px -1px 0 rgb(0, 0, 0),  
                    -1px  1px 0 rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

@media (prefers-color-scheme: dark) {
    h2, p {
        text-shadow: 1px  1px 0 rgb(0, 0, 0), 
                    -1px -1px 0 rgb(0, 0, 0),  
                     1px -1px 0 rgb(0, 0, 0),  
                    -1px  1px 0 rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}




.grid-container {
    columns: 2;
    background-color: cadetblue;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.panel {
    border: 3px solid #000;
}

.grid-container p {
    text-align: left;
    font-size: 10px;
    margin: 10px;
}

.grid-container h2 {
    font-size: 15px;
}


.london {
    background-image: url('images/gym-bg.jpg');
}