<!-- templates/profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>

    <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/classes">Classes</a></li>
          <li><a href="/membership">Membership</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about" class="active">About</a></li>
        </ul>
    </nav>
    

<!-- About the gym  -->
<div class="about-section">
    <h1>Managing My Membership</h1>
    <p>What do I do if I have forgotten my PIN? Simply click <a href="#">here</a>, enter a few quick details and your PIN will be emailed to you.</p>
    <p>What do I do if my PIN does not work? If your PIN does not work and you are at the gym during staffed hours, simply ring the buzzer near the entrance portals and a member of staff will be out to support you. If you are not at the gym during staffed hours, you can contact us.</p>
    <p>Can I let others use my PIN? No, this will result in the termination of your membership. Even if you are sharing your PIN with someone who has their own paid membership, both memberships will be terminated.</p>
    <p>I’ve signed up to a gym that hasn’t opened yet, can I still use my membership? Unfortunately not until your home gym is open, your membership will not be active, even if you are an Ultimate member. Alternatively, you can join one of our other locations instead, and change your home gym at a later date.</p>
    <p>Can I change my membership type between any of the following: Ultimate, Standard or Off-Peak? Yes, you can change your membership product to any of our Off-Peak, Standard or Ultimate memberships from these products. I.e. Off-Peak to Ultimate membership is available via the Member Area.</p>
    <p>Can I change to a fixed-term membership, i.e. Students or Ultimate? You cannot change your membership directly to our fixed-term memberships if you pay monthly. If you would like to benefit from a fixed-term membership, you will need to cancel your existing membership and re-join.</p>
    <p>Can I change my home gym? Yes, you can change our home gym in the Member Area or Mobile App for a £5 admin fee. Please note, your payment may be higher than £5 if you are moving to a more expensive gym as this includes a pro-rata payment to cover the remainder of the month. Please note that you will be unable to make these changes if your membership is frozen. There will be extra terms for our Ultimate, Standard and Off-Peak monthly members. On this membership type you can change your gym to any of our gyms with the same membership type. It is not possible to change your gym outside of the clubs that offer Ultimate, Standard and Off-Peak memberships.</p>
    <p>Can I add Yanga Sports water to my membership? Yanga Sports Water is a great way to stay hydrated during your workouts. You can add this service for an additional £4 per month via the online Member Area if you have a monthly membership. Have your 500ml bottle and PIN code at the ready, then find the machine in your gym. You will need to wait 20 minutes before your next refill.</p>
    <p>How do I book a class? You can book classes via our mobile app</p>
    <p>How do I book a session with a PT? You can book a session with one of our expert personal trainers by contacting them via the Member Area or our mobile app</p>
    <p>Can I restart my old membership? Yes, you can re-join <a href="#">here</a>. Please note, you will still need to pay a joining fee if you are a returning member.</p>
</div>

<div class="about-section">
    <h1>Membership Payments</h1>
    <p>When will my first payment be taken? Your first payment is taken right away. Subsequent payments are taken on the same date each month thereafter.</p>
    <p>Why am I being asked to pay before the gym has opened? This is to secure your membership at our fantastic early bird offer. Your first payment will hold your membership for you, and you won’t be charged again until one month after the gym opens. Please note you can’t use any of our gyms until your home gym is open.</p>
    <p>Why has my membership fee gone up? Occasionally our membership fees increase. This might be as you come to the end of a special offer period, or it might be a price increase to allow us to continue offering the best kit and facilities. You’ll never be above headline rate.</p>
    <p>What happens if one of my payments fails? If a payment fails, we attempt to recollect it again 10 days later. Please note, we do charge a £15 admin fee to do this. If the second attempt also fails, your membership is terminated.</p>
    <p>Can I change my payment account details? You can use the Member Area or our Mobile App to make changes to your payment account details under ‘my account’. Please note, all changes to payment details must be processed BEFORE your billing date. With less than 4 working days notice, your previously registered card or bank account details may still be processed.</p>
    <p>Can I change my payment date? To change your payment date, just log in to the App or use the Member Area, select ‘my account’ and ‘manage payments’.</p>
</div>

<div class="about-section">
    <h1>Discounts & Promotions</h1>
    <p>How do I use a discount/promotion? Promo codes can be entered when you join online, just after you have selected your membership type, and before you enter your personal details.</p>
    <p>Why doesn’t my offer code work? Promo codes do expire. For some offers, certain gyms are not included. Please see your local gym page to check if your gym is included in the offer.</p>
</div>

<div class="about-section">
    <h1>Freezing & Cancellations</h1>
    <p>What do I do if I have lost something in The Gym? The fastest and easiest way to retrieve lost property is to head back to the gym and speak to a member of staff.</p>
    <p>What are the Off-Peak hours in the gym? These hours will depend on your chosen gym, and you can view these on your gym page under Opening hours. This package is currently available at a select few gyms for new members. To see what package is available at your club, select your gym for more information.</p>
    <p>Can I visit the gym outside of Off-Peak hours if I choose this membership? Your PIN and QR code access via the app will only be possible during the specified times for your branch. If you would like to visit during the full opening hours, you can upgrade to our Standard or Ultimate memberships.</p>
    <p>Why can I book a peak time class when I am an Off-Peak member? All members can currently view and book the full class timetable. This gives you the full view of what’s available if you decide to change your membership type in the future. As an Off-Peak member, you will have the ability to book classes outside of your allocated hours, however, you will not be able to participate in them as this is not part of your membership package.</p>
</div>

<div class="about-section">
    <h1>Health & Safety</h1>
    <p>What are you doing to keep me safe? As most of our gyms are open 24 hours a day, 7 days a week there may be times our gyms are remotely supervised. All our gyms have 24/7 CCTV which is monitored externally when there are no staff on site. We also have Safety Stations and emergency contact points in case you need urgent assistance outside of staffed hours.</p>
    <p>What are you doing to keep the equipment and facilities clean? Our teams actively clean the equipment daily as part of a rotating schedule, we also have teams of contract cleaners who will ensure the facilities are spick and span and carry out a deep clean every evening. We also ask that members bring a sweat towel to reduce the amount of sweat landing on equipment. Should you have any concerns over the cleanliness of our equipment or facilities, please speak to a member of staff on site who will happily ensure that any issues are sorted.</p>
</div>

<div class="about-section">
    <h1>Complaints</h1>
    <p>What do I do if I have a complaint? Whilst we hope that there won’t be anything to cause you to complain, we understand that occasionally there might be issues that need to be addressed. This is why we have a dedicated complaints email, as well as a complaints process that ensures that your complaint or concern is investigated and dealt with fairly and correctly. Depending on the nature of the complaint, it might be best to raise this directly with the management team on site so that they can discuss, fully understand, and look to resolve any issues you might have. Alternatively, you can email us at complaints@thegymgroup.com, and we will look to process it against our complaints procedure.</p>
    <p>What does The Gym Group do when I raise a complaint? When we receive a complaint, we look to understand what the issue is, and who the best team to deal with that is. We then let you know what we are going to do, and keep you updated so you know that we are working on a resolution. Depending on the nature of the complaint, and how this was raised to us, this might be verbally communicated, or done so via email. We treat every complaint seriously and ensure that every outcome is the correct one against our Dignity At The Gym policy, and follows a full investigation into the matter.</p>
    <p>I’ve noticed that I’m in the background of some social media content in the gym – how can I be removed? All staff and trainers at The Gym Group receive regular social media guidance and have training on the UK GDPR. Staff and trainers should always follow our social media policy procedures with regards to filming in the gym. You are within your rights to withdraw consent after giving it (if you have been asked for consent) or to request that the footage is removed if you spot yourself on a social media post and don’t want to be there. Simply direct message the social media account and ask to be removed.</p>
</div>





<footer class="footer">
    <nav class="bottom-navbar">
        <!-- Your bottom navigation bar content -->
    </nav>
    <p class="copyright">© 2024 Your Company Name. All rights reserved.</p>
</footer>

</body>
</html>

