<!DOCTYPE html>
    <html>
        <head>
            <title>Profile</title>
            <link rel="stylesheet" href='../../static/global.css'>
            <link rel="stylesheet" href='../../static/profile.css'>
            <link rel="stylesheet" href='../../static/create-account.css'>
        </head>
        <body>

            <nav class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile" class="active">Profile</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/membership">Membership</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>

            <h1>Create account</h1>
            <div class="container">
                <form class="login" action="/create-user/" method="post">
                    <input type="text" placeholder="First name" name="firstname">
                    <input type="text" placeholder="Last name" name="lastname">
                    <input type="password" placeholder="Password" name="password">
                    <input type="submit" value="Submit">
                </form>
            </div>

        </body>
    </html>