<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Gym</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>


    
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Welcome to Our Gym</h1>
        <p>Thank you for visiting our website. We offer a range of services to help you achieve your fitness goals.</p>
        <p>Please feel free to explore our website and contact us if you have any questions.</p>
        <p>Thia app will include gym classes for all memebers to sign up to (Still in progress)</p>
    </div>


    <div class="discount-message">
        <p>50% off + no joining fee</p>
    </div>


<!-- have a gym background with 2 images of classes and small description
and saying click here to sign up to class -->

<!-- add backgroubd and show popular classes/ calculate pop classes -->


    <footer class="footer">
        <nav class="bottom-navbar">
            <!-- Your bottom navigation bar content -->
        </nav>
    </footer>

</body>
</html>
