<!DOCTYPE html>
    <html>
        <head>
            <!-- <link rel="stylesheet" href='../static/global.css'>
            <link rel="stylesheet" href='../static/classes.css'> -->
        </head>
        <body>

            <nav class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/membership">Membership</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>

            <h2>Login</h2>
            <div class="container">
                <form class="login" action="/login-event/" method="post">
                    <input type="text" placeholder="Username" name="username">
                    <input type="text" placeholder="Password" name="password">
                    <input type="submit" value="Submit">
                </form>
            </div>

        </body>
    </html>