<!-- templates/profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='services.css') }}">
</head>
<body>

    <nav class="navbar">
        <ul>
          <!-- <li><a href="index">Home</a></li> -->
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/classes">Classes</a></li>
          <li><a href="/membership">Membership</a></li>
          <li><a href="/services" class="active">Services</a></li>
          <li><a href="/about">About</a></li>
        </ul>
    </nav>
    
    <!-- maybe delete this page not sure yet  -->

    <footer class="footer">
        <nav class="bottom-navbar">
            <!-- Your bottom navigation bar content -->
        </nav>
        <p class="copyright">© 2024 Your Company Name. All rights reserved.</p>
    </footer>

</body>
</html>

